/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: white;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #000;
};

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #373737;
};
